<section class="py-4 py-md-5 my-5">

<h1 class="display-6 fw-bold pb-md-4">Editar proveedores</h1>

<%= render "form", proveedor: @proveedor %>

<br>

<div>
  <%= link_to "Mostrar a este proveedor", @proveedor %> |
  <%= link_to "Regresar", proveedors_path %>
</div>
</section>