<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">
        Creado por: 
        </h1>

        <br/>
        <h3>Garcia Cortez Kevin Eduardo<br/></h3>
        <h3>Montaño Zaragoza Marcos Ulises <br/></h3>
        <h3>Perez Luna Jaime Alonso <br/></h3>
        </br>
        <%= link_to "Regresar", root_path, class: "btn btn-dark btn-lg"%>
      </div>
    </div>
    <div class="cliente-info">


  </div>
  





