<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">
        Creado por: 
        </h1>
      
        <br/>
        <h3>Garcia Cortez Kevin Eduardo 21211950<br/></h3>
        <h3>Montaño Zaragoza Marcos Ulises 21211998<br/></h3>
        <h3>Perez Luna Jaime Alonso 21212021<br/></h3>
        <h3>Díaz Abraham Jahir de Jesús 20212396<br/></h3>
        </br>
        <%= link_to "Regresar", root_path, class: "btn btn-dark btn-lg"%>
      </div>
    </div>
    <div class="cliente-info">


  </div>
  





