<h1>Editing orden producto</h1>

<%= render "form", orden_producto: @orden_producto %>

<br>

<div>
  <%= link_to "Show this orden producto", @orden_producto %> |
  <%= link_to "Back to orden productos", orden_productos_path %>
</div>
