<div id="<%= dom_id pedido %>">
  <p>
    <strong>Cantidad ordenada:</strong>
    <%= pedido.cantidad_ordenada %>
  </p>

  <p>
    <strong>Fecha inicial:</strong>
    <%= pedido.fecha_inicial %>
  </p>

  <p>
    <strong>Fecha entrega:</strong>
    <%= pedido.fecha_entrega %>
  </p>

</div>
