<section class="py-5 mt-5">
    <div class="container">
        <div class="row row-cols-1 d-flex justify-content-center align-items-center">
            <div class="col-md-10 text-center"><%= image_tag("illustrations/404.svg", class: "img-fluid w-100") %></div>
            
            <div class="col text-center">
                <h2 class="display-3 fw-bold mb-4">No se encontro la pagina</h2>
                <p class="fs-4 text-muted">Se encontro un error al tratar de entrar a la pagina.</p>
            </div>
        </div>
    </div>
</section>