<div id="<%= dom_id inventario %>">
  <p>
    <strong>Inventario:</strong>
    <%= inventario.inventario_id %>
  </p>

  <p>
    <strong>Existencias:</strong>
    <%= inventario.existencias %>
  </p>

  <p>
    <strong>Producto:</strong>
    <%= inventario.producto_id %>
  </p>

</div>
