<section class="py-5 mt-5">

<h1 class="display-6 fw-bold pb-md-4">Agregar existencias</h1>

<%= render "form", inventario: @inventario %>

<br>

<div>
<%= link_to 'Volver al proveedor', proveedor_path(@proveedor), class: 'btn btn-dark' %>
</div>
</section>